@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'georama';
    src: url('C:\Users\thefi\Desktop\caption-original\captions\Georama-Black.ttf') format('truetype');
    /* Add additional font formats if needed */
    font-weight:900 ;
    font-style: normal;
  }

  @media (max-width: 768px) {
    .header-nav {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .text-custom-large {
      text-align: center;
    }
  }
input[type="color"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: 2px solid black;
}
input[type="color"]::-moz-color-swatch {
    border-radius: 5px;
    border: 2px solid black;
}